<app-page-title title="Real Estate" subTitle="Add Customer" />

<div class="row">

  <!-- كارد العقار الجديد بعد الإضافة -->
  <div class="col-xl-3 col-lg-4">
    <div class="card" *ngIf="createdCustomer">
      <img
        [src]="'http://localhost:3000/' + createdCustomer.images[0]"
        class="card-img-top"
        *ngIf="createdCustomer.images?.length"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ createdCustomer.name }}
          <span class="badge bg-success">For Rent</span>
        </h5>
        <p class="card-text">{{ createdCustomer.location }}</p>
        <p>
          <strong>Price:</strong>
          {{ createdCustomer.totalValue | currency }}
        </p>
      </div>
    </div>
  </div>

  <!-- الفورم -->
  <div class="col-xl-9 col-lg-8">

    <!-- رفع الصور -->
    <div class="card mb-3">
      <div class="card-header">
        <h4 class="card-title">Add Customer Photo</h4>
      </div>
      <div class="card-body">
        <FileUploader (filesSelected)="onImagesSelected($event)"></FileUploader>
      </div>
    </div>

    <!-- بيانات العميل -->
    <customer-info (infoChange)="onCustomerInfoChange($event)"></customer-info>

    <!-- زر الإضافة -->
    <div class="mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-2">
          <button (click)="createCustomer()" class="btn btn-outline-primary w-100">
            Create Customer
          </button>
        </div>
        <div class="col-lg-2">
          <a href="javascript:void(0);" class="btn btn-danger w-100">Cancel</a>
        </div>
      </div>
    </div>

  </div>
</div>
