<app-page-title title="Real Estate" subTitle="Add Property" />

<div class="row">
  <!-- كارد العقار الجديد بعد الإضافة -->
  <div class="col-xl-3 col-lg-4" *ngIf="createdProperty">
    <div class="card">
      <img
        [src]="'http://localhost:3000/' + (createdProperty.images?.[0] || '')"
        class="card-img-top"
        *ngIf="createdProperty.images?.length; else noImage"
      />
      <ng-template #noImage>
        <img src="assets/images/properties/default.jpg" class="card-img-top" />
      </ng-template>

      <div class="card-body">
        <h5 class="card-title">
          {{ createdProperty.name }}
          <span class="badge bg-success">For Rent</span>
        </h5>
        <p class="card-text">{{ createdProperty.location }}</p>
        <p>
          <strong>Price:</strong> {{ createdProperty.totalValue | currency }}
        </p>
        <p>
          <strong>Total Shares:</strong> {{ createdProperty.totalShares }}
        </p>
      </div>
    </div>
  </div>

  <!-- الفورم -->
  <div class="col-xl-9 col-lg-8">
    <!-- 🟢 نستقبل البيانات اللي رجعت من الـ child -->
    <add-information></add-information>

    <div class="mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-2">
          <!-- <button
            class="btn btn-outline-primary w-100"
            (click)="triggerChildSubmit()"
          >
            Create Property
          </button> -->
        </div>
        <div class="col-lg-2">
          <!-- <button href="javascript:void(0);" class="btn btn-danger w-100">
            Cancel
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
