<div class="card">
  
  <div class="filter-box p-4 border rounded shadow ">
  <h4 class="mb-3"> Filter Properties</h4>

  <!-- بحث -->
  <input
    type="text"
   [(ngModel)]="searchText"
  (ngModelChange)="onSearchChange()"
    placeholder="Search by name or location"
    class="form-control mb-3"
  />

 
  <!-- السلايدر -->
  <div class="mb-3">
    <label class="fw-bold">Price Range:</label>
    <nouislider
      [config]="rangeConfig"
      [(ngModel)]="someRange"
      (ngModelChange)="applyFilters()"
    ></nouislider>
    <div class="mt-2">
      {{ someRange[0] | currency : 'USD' }} - {{ someRange[1] | currency : 'USD'
      }}
    </div>
  </div>

  <!-- زرار التطبيق -->
  <button class="btn btn-primary w-100" (click)="applyFilters()">
    Apply Filters
  </button>
</div>
  

</div>
