<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-body">
      <div class="position-relative">
        <img
          [src]="previewImage || 'assets/images/properties/default.jpg'"
          alt="preview"
          class="img-fluid rounded bg-light"
        />
      </div>

      <div class="mt-3">
        <input type="text" formControlName="title" placeholder="Title" class="form-control mb-2" />
        <input type="text" formControlName="type" placeholder="Type" class="form-control mb-2" />
        <input type="text" formControlName="address" placeholder="Address" class="form-control mb-2" />
        <input type="number" formControlName="price" placeholder="Price" class="form-control mb-2" />
        <input type="number" formControlName="beds" placeholder="Beds" class="form-control mb-2" />
        <input type="number" formControlName="baths" placeholder="Baths" class="form-control mb-2" />
        <input type="number" formControlName="area" placeholder="Area (ft)" class="form-control mb-2" />
        <input type="number" formControlName="floors" placeholder="Floors" class="form-control mb-2" />

        <!-- صورة -->
        <input type="file" (change)="onFileSelected($event)" class="form-control mb-2" />
      </div>
    </div>

    <div class="card-footer bg-light-subtle">
      <div class="row g-2">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-outline-primary w-100">Add Property</button>
        </div>
        <div class="col-lg-6">
          <button type="reset" class="btn btn-danger w-100">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

