<app-page-title title="Customers" subTitle="Customer List" />

<div class="row d-none">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <form class="app-search d-none d-md-block me-auto">
                  <div class="position-relative">
                    <input type="search" class="form-control" placeholder="Search Customer" autocomplete="off"
                      value="" />
                    <iconify-icon icon="solar:magnifer-broken" class="search-widget-icon"></iconify-icon>
                  </div>
                </form>
              </div>
              <div class="col-lg-4">
                <h5 class="text-dark fw-medium mb-0">
                  501 <span class="text-muted"> Customers</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-md-end mt-3 mt-md-0">
              <button type="button" class="btn btn-outline-primary me-1">
                <i class="ri-settings-2-line me-1"></i>More Setting
              </button>
              <button type="button" class="btn btn-outline-primary me-1">
                <i class="ri-filter-line me-1"></i> Filters
              </button>
              <button type="button" class="btn btn-success me-1">
                <i class="ri-add-line"></i> New Customer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center border-bottom">
        <div>
          <h4 class="card-title">All Customer List</h4>
        </div>

        <!-- --------------------------- search --------------------------->
        <div class="col-md-6 text-end">
      <div class="input-group" style="max-width: 300px; margin-left: auto;">
        <input
          type="text"
          class="form-control"
          placeholder="Search customers..."
          [(ngModel)]="searchText"
          (input)="filterCustomers()"
        />
        <button class="btn btn-primary" type="button" (click)="filterCustomers()">
          <i class="ri-search-line"></i>
        </button>
      </div>
    </div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table align-middle text-nowrap table-hover table-centered mb-0">
            <thead class="bg-light-subtle">
              <tr>
                <th></th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Property Type</th>
                <th>Interested Properties</th>
                <th>Status</th>
                <th>Last Contacted</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of filteredCustomers; track $index) {
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" />
                    </div>
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="text-dark fw-medium fs-15">
                      {{ item.name }}
                    </a>
                  </td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.customerStatus }}</td>
                  <td>{{ item.date }}</td>
                  <td>
                    <div class="d-flex gap-2">
                      <button
                        type="button"
                        class="btn btn-light btn-sm"
                        (click)="openCustomerModal(customerModal, item)"
                      >
                        <iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon>
                      </button>
                      <a href="javascript:void(0);" class="btn btn-soft-primary btn-sm">
                        <iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon>
                      </a>
                      <a href="javascript:void(0);" class="btn btn-soft-danger btn-sm">
                        <iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon>
                      </a>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Modal -->
        <ng-template #customerModal let-modal>
          <div class="modal-header">
            <h5 class="modal-title">
              {{ selectedCustomer?.name }}
            </h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
          </div>

          <div class="modal-body">
            <div class="d-flex align-items-start gap-3 mb-3">
              <img
                [src]="selectedCustomer?.image"
                alt=""
                class="avatar-md rounded-circle border"
              />
              <div>
                <p><strong>Email:</strong> {{ selectedCustomer?.email }}</p>
                <p><strong>Phone:</strong> {{ selectedCustomer?.phone }}</p>
                <p><strong>Type:</strong> {{ selectedCustomer?.type }}</p>
                <p><strong>Address:</strong> {{ selectedCustomer?.address }}</p>
                <p><strong>Status:</strong> {{ selectedCustomer?.customerStatus }}</p>
                <p><strong>Last Contacted:</strong> {{ selectedCustomer?.date }}</p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
          </div>
        </ng-template>
      </div>

      <div class="card-footer">
        <ngb-pagination [collectionSize]="30" [page]="1" class="pagination justify-content-end mb-0">
          <ng-template ngbPaginationPrevious>Previous</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>